body
{
    font-family: 'Oswald', sans-serif;
    background: #03a5fc;
}
.header_div
{
    background: rgb(15, 139, 235);
    color: rgb(165, 245, 245);
}
.header_div p
{
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button
{
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
    width: 130;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: skyblue;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(44, 8, 202);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(14, 65, 233);

}

